<ion-header>
  <ion-toolbar>
    <ion-title>First Visual Dependency Tree for Google Syntax</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input name="tb1"  maxlength="300" type="text" [(ngModel)]="userInput"   placeholder="Type any text"   clearInput  autofocus="true" autocomplete="on" autocorrect="on"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-12>
        <ion-button expand="" (click)="getGoogleSyntax()">
          Get Syntax
        </ion-button>
      </ion-col>
      <ion-col  col-md-12 >
        <ion-button  (click)="clearAll()">
          Clear
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="center" class="scrollXCanvas" >
      <ion-col>
    <canvas #treeCanvas  ></canvas>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
